
body {
  background-color: #0a0a0a;
}

header {
  background-color: rgb(103, 6, 182, 0.35);
}

.articulo {
  background-color: #141414;
  border: 1px solid #444;
  color: #d4d4d4;
}

.articulo h2 {
  color: #ffffff;
}

.titulo {
  color: #d4d4d4;
}

.fila-activa {
  background-color: rgba(103, 6, 182, 0.35);
}

.tabla-equipos tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.tabla-equipos {
  color: #f5f5f5;
  border: 1px solid #e1e1e1;
}

.equipo-titulo {
  color: #ffffff;
}

.btn,
.btn-pf {
  color: #f5f5f5;
  background: #444;
  border: 1px solid #444;
}

.btn:hover,
.btn-pf:hover {
  border-color: #181818;
  background-color: rgba(255, 255, 255, 0.05);
}

.btn:active,
.btn-pf:active {
  transform: scale(0.97);
}

.caja {
  background-color: #141414;
  border: 1px solid #444;
}

.caja:hover {
  border-color: #f5f5f5;
  box-shadow: 0 12px 30px rgba(245, 245, 245, 0.25);
}

.caja img {
      width: 95px;
      height: 95px;
      object-fit: cover;
      object-position: center;
      border-radius: 8px;
      filter: grayscale(100%);
    }

    .caja:hover {
      border-color: #400683;
      box-shadow: 0 12px 30px rgba(103, 6, 182, 0.35);
    }
.hr {
  border-top-color: rgb(57, 57, 57);
}
.btn-redondo:hover{
  background-color: #dadada;
}
.btn-redondo-enlace{
  background-color: #cacaca;
}

.btn-redondo-enlace:hover{
  background-color: #e4e4e4;
}